@charset "UTF-8";
/*
 * Main styles
 * Version: 1.0.0
*/

/* =Main and global styles
-------------------------------------------------------------------- */

body {
    font-family: 'Open Sans',sans-serif;
    color: #657b83;
    background-color: #fafafa;
}

/* =Typography stuff
-------------------------------------------------------------------- */

a {
    text-decoration: none;
    color: #3465a4;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

a:hover {
    text-decoration: none;
    color: #268bd2;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 1em 0;
}

em,cite,var,
address, dfn,
blockquote, q {
    font-style: italic;
}

/* Headings
------------------------------------- */
h1,h2,h3 {font-weight: 600;}
h1 {margin: 1em 0 .5em; font-size: 27px;}
h2 {margin: 1em 0 .5em; font-size: 24px;}
h3 {margin: .8em 0 .4em; font-size: 20px;}
h4 {margin: .6em 0 .3em; font-size: 18px;}

/* Definition lists
------------------------------------- */
dl {width:450px;}

dt{
    font-weight:bold;
    font-size: 15px;
    margin-bottom:0.7em;
}

dd{
    font-size: 14px;
    margin: 0 0 20px 0;
    padding-left: 40px;
}

/* =Blockquotes
------------------------------------- */

blockquote {
    position: relative;
    margin: 20px;
    padding: 1px 20px;
    font-family: Georgia,"Times New Roman",Times,serif;
    line-height: 26px;
    color: #777;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

blockquote:before {
    content: "\201C";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 80px;
    color: #7a7a7a;
}

blockquote cite {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/* =Entry tables
-------------------------------------------------------------------- */
table {
    width: 100%;
    margin-bottom: 24px;
    border: 1px solid #d8d8d8;
    border: 1px solid rgba(0,0,0,.05);
    border-collapse: collapse;
    border-color: #f0f0f0;
    border-spacing: 2px;
}

table thead td,
table thead th {
    font-weight: 600;
}

table td,
table th {
    padding: 7px 11px;
    border: 1px solid #f0f0f0;
    border-width: 0 1px 1px 0;
    text-align: left;
    font-weight: 400;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

/* Content lists
------------------------------------- */
ul,ol {
    margin: 0 0 24px 40px;
}

ul {list-style: disc;}
ol {list-style: decimal;}
li {margin: 3px 0;}

ul ul,
ol ul {
    margin-left: 30px;
    list-style: circle;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
    list-style: square;
}

/* Address
------------------------------------- */
address {
    margin-bottom: 18px;
    padding-left: 20px;
    line-height: 1.4;
}

/* cite / code / pre / q
------------------------------------- */
cite {
    font-size: 14px;
}

code,kbd,tt,var,samp {
    font-family: 'andale mono','lucida console',monospace;
    font-size: 14px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    word-wrap: break-word;
    -ms-hyphens: none;
}

code,kbd {
    margin: 0 1px;
    padding: 3px 5px 2px;
    font-size: 13px;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

pre {
    display: block;
    margin: 0 0 24px 0;
    padding: 15px;
    border: 1px solid #f0f0f0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    overflow-x: visible;
    direction: ltr;
    font: 11px/19px 'andale mono','lucida console',monospace;
    white-space: pre;
    white-space: pre-wrap;
    color: #666;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
    -ms-overflow-x: visible;
    word-wrap: break-word;
}

big {font-size: 120%; font-weight: 300;}

ins {
    border-bottom: 1px dotted #BDBDBD;
    text-decoration: none;
    background-color: #fff9c0;
}

/* =Header
-------------------------------------------------------------------- */


/* =Main =Homepage =Archives
-------------------------------------------------------------------- */


/* =Posts and =Pages
-------------------------------------------------------------------- */


/* =Comments
-------------------------------------------------------------------- */


/* =Footer
-------------------------------------------------------------------- */


/* =Post formats
-------------------------------------------------------------------- */


/* =Helpers
-------------------------------------------------------------------- */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {clear: both;}
.clear {clear: both;}


/* =WordPress required stuff
-------------------------------------------------------------------- */

.sticky {

}

.bypostauthor {

}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    display: block;
    clear: both;
    margin: 0 auto;
}

.assistive-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}

.wp-caption {
    padding: 10px;
    max-width: 100%;
    background-color: #EBE4D4;
}

.gallery-caption {

}

.wp-caption-text {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    color: #888888;
}

/* =Media queries
-------------------------------------------------------------------- */